<div class="left">
  <dx-list
    class="list"
    [dataSource]="dataSource"
    [searchEnabled]="true"
    selectionMode="single"
    (onSelectionChanged)=listSelectionChanged($event)>
<!--    [selectedItemKeys]="[currentHotel.Id]"-->
    <!--    itemTemplate="item"-->

    <div *dxTemplate="let item of 'item'">
      <div>
        <div class="apod">
          <div class="name" *ngIf="item?.title">{{ item.title }}</div>
          <div class="copyright" *ngIf="item?.copyright">{{ item.copyright }}</div>
        </div>
        <div class="date-container">
          <div class="caption" *ngIf="item?.date">{{ item.date }}</div>
        </div>
      </div>
    </div>
  </dx-list>
</div>
<div class="right">
  <div class="header">
    <div class="name-container">
      <div class="name" *ngIf="currentApod?.title">{{ currentApod.title }}</div>
    </div>
    <div class="date-container">
      <div class="date" *ngIf="currentApod?.date">{{ currentApod.date }}</div>
    </div>
  </div>
  <img *ngIf="currentApod?.url" src="{{ currentApod.url }}" alt="{{ currentApod.title }}">
  <div *ngIf="currentApod?.explanation">{{ currentApod.explanation }}</div>

</div>
