<div class="left">
  <dx-list
    class="list"
    [dataSource]="dataSource"
    [searchEnabled]="true"
    selectionMode="single">
  <!--    [selectedItemKeys]="[currentHotel.Id]"-->
<!--    (onSelectionChanged)=listSelectionChanged($event)>-->
    <!--    itemTemplate="item"-->

    <div *dxTemplate="let item of 'item'">
      <div>
        <div class="hotel">
          <div class="name">{{ item.title }}</div>
        </div>
        <div class="date-container">
          <div class="caption">{{ item.date }}</div>
        </div>
      </div>
    </div>
  </dx-list>
  {{ startDateApodListView }}
</div>
