<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">Start date:</div>
    <div class="dx-field-value">
      <dx-date-box
        [(value)]="startDate"
        type="date">
      </dx-date-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">End date:</div>
    <div class="dx-field-value">
      <dx-date-box
        [(value)]="endDate"
        type="date">
      </dx-date-box>
    </div>
  </div>
</div>

<nasa-apod-list-view
  [startDateApodListView]="startDate"
  [endDateApodListView]="endDate">
</nasa-apod-list-view>
