.dx-fieldset {
  display: flex;
}

.dx-field {
  display: flex;
  flex-direction: column;
  min-width: 10em;
}

.dx-field-label {
  min-width: 10em;
}

.dx-field-value {
  float: left;
  min-width: 10em;
}


