<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">Start date:</div>
    <div class="dx-field-value">
      <dx-date-box
        [(value)]="startDate"
        type="date">
          <dx-validator>
            <dxi-validation-rule type="required" message="Start date is required"></dxi-validation-rule>
          </dx-validator>
      </dx-date-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">End date:</div>
    <div class="dx-field-value">
      <dx-date-box
        [(value)]="endDate"
        type="date">
          <dx-validator>
            <dxi-validation-rule type="required" message="End date is required"></dxi-validation-rule>
          </dx-validator>
      </dx-date-box>
    </div>
  </div>
</div>

<nasa-apod-list-view
  [startDateApodListView]="startDate"
  [endDateApodListView]="endDate">
</nasa-apod-list-view>
