<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">Start date:</div>
    <div class="dx-field-value">
      <dx-date-box
        [(value)]="startDate"
        type="date"
        (onValueChanged)="dateBoxValueChanged($event)">
      </dx-date-box>
    </div>
    <div class="dx-field-label">End date:</div>
    <div class="dx-field-value">
      <dx-date-box
        [(value)]="endDate"
        type="date"
        (onValueChanged)="dateBoxValueChanged($event)">
      </dx-date-box>
    </div>
<!--    <dx-button-->
<!--      stylingMode="contained"-->
<!--      text="Find"-->
<!--      type="default"-->
<!--      [width]="120">-->
<!--      (onClick)="clickFindButton()">-->
<!--    </dx-button>-->
  </div>
  {{ startDate }}
</div>

<nasa-apod-list-view
  [startDateApodListView]="startDate"
  [endDateApodListView]="endDate"
>
</nasa-apod-list-view>
